.secondary-card {
  // display: flex;
  // align-items: center;
  &-img {
    width: 370px;
    height: 230px;
    overflow: hidden;
    border-radius: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include respond(tablet){
      width: 280px;
      height: 180px;
    }
  }
  &-info {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  // @include respond(tablet){
  //   flex-direction: column;
  // }
}
