.input {
  font-size: 18px;
  padding: 10px 14px;
  background-color: #fbfbfb;
  border-radius: 6px;
  outline: none;
  margin-top: 10px;
  &-min {
    width: 275px;
  }
  &-max {
    width: 600px;
  }
  @include respond(tablet) {
    width: 300px;
    font-size: 16px;
    padding: 6px 14px;
  }
  @include respond(phone) {
    width: 260px;
    font-size: 16px;
    padding: 6px 14px;
  }
}
