.card {
  width: 370px;
  &-img {
    width: 100%;
    height: 220px;
    // height: 100%;
    overflow: hidden;
    border-radius: 20px;
    img {
      object-fit: cover;
    }
    @include respond(phone){
    height: 190px;

    }
  }
  &-description {
    margin: 16px 0;
  }
}
