.admin_user {
  display: flex;
  flex-direction: column;
  gap: 40px;
  .btn-addUser {
  margin: 40px auto ;
  }
  .singleUserCards{
    padding: 0 190px;
  }
  .user_card{
    background: rgb(84, 82, 82);
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px ;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover{
        background-color: gray;
    }
  }
}
