.playlist_videos {
  padding: 0 190px;

  .heading-secondary {
    text-align: center;
  }
  .playlist-videos-btn {
    justify-content: center;
    display: flex;
    gap: 30px;
    padding: 40px 20px 60px;
    button {
      height: auto;
      &:focus,
      &:hover,
      &:active {
        border-color: $color-primary;
        color: $color-primary;
      }
    }
  }

  .playlist_video_cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
  }
  @include respond(desktop-L) {
    padding: 0 100px;
  }
  @include respond(desktop) {
    padding: 0 45px;
  }
  @include respond(tab-land) {
    padding: 0 25px;
  }
  @include respond(laptop) {
    padding: 0 18px;
  }
}
